.style_a{
    text-decoration: none;
    font-weight: bold;
    a{
        color:green;
    }
    .red-color{
        color: rgb(211, 72, 72);
    }
}
.create{
    position: absolute;
    margin: 0;
    top: 60px;
    right: 50px;
    z-index: 1;
    a{
       color: green;
       text-decoration: none;
       font-weight: bold;
       padding: 5px 10px;
       border: solid 1px green;
       border-radius: 6px;
    }
}
.read{
    width: 50%;
    display: block;
    text-align: center;
    margin-left: 250px;
    form{
        padding-left: 200px;
    }
    h1{
        color: #777676;
        padding-bottom: 10px;
        padding-right: 200px;
    }
}
.add-new{
    @extend .read;
}
.search{
    width: 15%;
    float: right;
    display: block;
    margin-bottom: 5px;
    
}



