.style_a{
    text-decoration: none;
    font-weight: bold;
    .red-color{
        color: rgb(211, 72, 72);
    }
}
.s-c{
    width:100%;
    margin: 0;
    padding: 0;
    display: block;
        .create{
            float: right;
            display: block;
            a{
                color: #fff;
                font-size: 15px;
                padding: 6px;
                // margin-right: 30px;
                // margin-bottom: 0;
                background-color: rgb(31, 154, 226);
                border-radius: 7px;
            } 
        }
        .search{
            float: left;
        } 
   }

.search-create{
    display: block;
    width: 50%;
    float: right;
    margin-top: 10px;
    height: auto;
    .search-f{
        float: right;
    }
    .create-f{
        float: right;
        a{
            color: #fff;
            font-size: 15px;
            padding: 8px;
            background-color: rgb(31, 154, 226);
            border-radius: 7px;
            margin-right: 30px;
        } 
    }
}
.read{
    width: 80%;
    display: block;
    text-align: center;
    // margin-left: 250px;
    h1{
        color: #494545;
        text-align: center
    }
}
.edit-lop{
    width: 90%;
    text-align: center;
    // display:block;
    margin: auto;
    form{
        margin:auto;
    }
}
.add-new{
    @extend .read;
    form{
        margin: auto;
    }
}
.table-form{
    display: block;
    padding: 2%;
    width: 96%;
    float: right;
    border: 1px solid #dbd8d8;
    background-color: #fff;
    .table{
        background-color: #fff;
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    .create {
        top: 10px;
        right: inherit;
        
    }
    
}