

.main-style{
    width: 100%;
    display: block;
    height: auto;
    float: left;
    padding: 2% ;
    background-color: #ecebeb;
   
    .table-main{
        display: block;
        margin-top: 10px;
        width: 100%;
        float: right;
        table{
            border: 1px solid #cac5c5;
            margin: auto;
            background-color: #fff;
            margin-top: 10px;
            th{
                font-size: 17px;
            }    
        } 
    }
    
    h1{
       text-align: left;
       margin: 0;
       margin-bottom: 15px;
       padding: 0; 
      
    } 
    .tree-table{
        width: 100%;
        display: inline-block;
        background-color: #fff;
        padding: 2%;
        margin-top: 10px;
        height: auto;
    }

    .folder-style{
        background-color: rgb(230, 230, 230);
        padding: 10px 0;
    }

    .tree-folder{
        width: 20%;
        display: inline-block;
        border-radius: 6px;
        overflow-y: auto;
        max-height: 640px;
        scrollbar-width: thin;
    }
    .table-folder{
        display: block;
        width: 76%;
        float: right;
        border: 1px solid #dbd8d8;
        border-radius: 10px;
        padding: 10px;

        table{
            margin-top: 10px;
    
            th{
                font-size: 17px;
                background-color: rgb(230, 230, 230);
                
            }
        }
    }
}

.delete{
    width: 20%;
    text-align: left;
    display: block;
    float: left;
    font-size: 15px;
}

.ac-edit{
    font-weight: bold;
}

.action{
    width:100%;
    display: block;
    float: right;
    margin-top: 10px;
        .create{
            float: right;
            padding: 0;
            margin: 0;
            button{
                color: #fff;
                border: 1px solid #1677ff;
            } 
        }
        .search{
            float: right;
            margin-right: 10px;
            input{
                border: 1px solid #1677ff;
            }
        }         
}

.edit-create{
    width: 70%;
    text-align: left;
    margin-left: 100px;
    background-color: #ecebeb;
    h1{
        text-align: center;
        margin-left: 200px;
        padding: 30px 0px;
    }
    form{
        margin: auto;
    }
}

@media screen and (max-width: 1024px){

    .main-style{
        h1{
            font-size: 25px;
        }
    }

    .tree-table{
        width: 100%;
    }
    .tree-folder{
        width: 15%;
        padding: 0;
        .folder-style{
            padding: 0;
        }
    }
    .table-folder{
        width: 85%;
    }
    .delete{
        font-size: 13px;
    }
}

@media screen and (max-width: 430px){
    .main-style{
        width: 100%;
        padding: 0;
        h1{
            font-size: 20px;
            margin: 0;
        }
        .delete{
            margin-bottom: 10px;
            button{
                font-size: 12px;
                padding: 0 10px;
                
            }
        }
        .tree-table{
            width: 100%;
            display: inline-block;
            height: 100%;

            .tree-folder{
                width: 100%;
                margin: 15px 0px;
            }
            .table-folder{
                width: 100%;
                table{
                    width: 100%;
                    th{
                        font-size: 12px;
                    }
                    td{
                        font-size: 11px;
                    }
                }
            }
        }
    }
   
    .table-main{
        table{
            margin: 0;
            width: 100%;
            margin-top: 15px;   
            th{
                font-size: 13px;
                padding: 0;
            }
            td{
                font-size: 11px;
                padding: 0;
            }
        }
    }
    .edit-create{
        width: 70%;
        text-align: left;
        margin: auto;
        // margin-left: 100px;
        background-color: #ecebeb;
        h1{
            text-align: center;
            // margin-left: 200px;
            // padding: 30px 0px;
            margin: 0;
        }
        form{
            margin: auto;
            width: 80%;
            text-align: left;
            
        }
    }
  
}