
$BlackColor : black ;
    .Menu-header{
        margin: auto;
        background-color: #d4d0d0;
        font-size: 17px;
        font-weight: bold;
        border-radius: 10px;
            a{
                font-size: 17px;
                font-weight: bold;
            }
        .SubMenu1{
            a{
                font-size: 15px;    
            }
        }
    }
   
    .header{
        width: 100%;
        height: auto;
        margin: auto;
        display: inline-block;
        color: #333;
        background-color: #d4d0d0;
        padding: 0;
        top: 0;
        left: 0;
        .nav{
            display: block;
            width: 50%;
            float: left;
            ul{
                li{
                    display: inline-block;
                    margin-left: 20px;
                    a{
                        text-decoration: none;
                        color: #333;
                        font-size: 25px;
                        font-weight: bold;
                        padding: 0px 10px;
                        border-bottom: 1px solid #333;
                    }
                }
            }
        }
        .nav-right{
            width: 20%;
            display: block;
            float: right;
            p{
                float: right;
                margin: 20px;
                a{
                    color: $BlackColor;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }

  
   
    
