.app{
   width: 70%;   
   display: block;
   height: auto;
   margin: auto;
   padding: 0;
   background-color: #fff;
   border: 1px solid #aca9a9;
}
.Outlet{
    width: 83%;
    display: block;
    float: left;
    height: 100%;
    margin-left: 1%;
    position: relative;
    table{
        border: 1px solid #cac5c5;
        margin: 0;
        background-color: #d4d0d0;
    }
    padding-top: 40px;  
}

.sider_style{
    width: 15%;
    height: 100%;
    text-align: center;
    color: #333;
    float: left;
    background-color: #d4d0d0;
    position: relative;
}
.content_style{
    display: block;
    width: 100%;
    margin: auto;
    height: 1100px;
    text-align: center;
    line-height: 20px;
    color: #333;
    float: left;
    background-color: #fff;
    min-height: 20px;
}
.footer{
    width: 100%;
    background-color: rgb(126, 126, 126);
    text-align: center;
    
    // height: 100px;
}